# Payment Service - Dev Environment
appName: payment-service
replicaCount: 1
image:
  repository: 632941626317.dkr.ecr.ap-northeast-2.amazonaws.com/unbox-dev-payment-repo
  tag: dev-0455bd7b91956aa1d2f0e2b9a7a4b0b148dec679
  pullPolicy: Always
# Ingress 활성화
ingress:
  enabled: true
linkerd:
  enabled: true # Linkerd Service Mesh 활성화
service:
  port: 80
  targetPort: 8085
containerPort: 8085
env:
  SERVER_PORT: "8085"
  SERVER_SERVLET_CONTEXT_PATH: "/payment"
  SPRING_JWT_SECRET:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: JWT_SECRET
  DB_DRIVER_CLASS_NAME: "org.postgresql.Driver"
  SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
  SPRING_JPA_SHOW_SQL: "false"
  SPRING_DATASOURCE_URL:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: RDS_ENDPOINT
  SPRING_DATASOURCE_USERNAME: "unbox_admin"
  SPRING_DATASOURCE_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: DB_PASSWORD
  SPRING_DATA_REDIS_HOST:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: REDIS_ENDPOINT
  SPRING_DATA_REDIS_PORT: "6379"
  SPRING_DATA_REDIS_SSL: "true"
  SPRING_DATA_REDIS_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: REDIS_PASSWORD
  SPRING_KAFKA_BOOTSTRAP_SERVERS:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: KAFKA_ENDPOINT
  # Tracing 활성화 (Tempo)
  MANAGEMENT_TRACING_ENABLED: "true"
  TEMPO_OTLP_ENDPOINT: "http://tempo.monitoring.svc.cluster.local:4318/v1/traces"
  # Toss Payments (SSM에서 가져옴)
  TOSS_SECRET_KEY:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: TOSS_SECRET_KEY
  TOSS_SECURITY_KEY:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: TOSS_SECURITY_KEY
resources:
  requests:
    memory: "512Mi"
    cpu: "100m"
  limits:
    memory: "1Gi"
rollout:
  enabled: true
  strategy: "blueGreen"
  healthCheck:
    enabled: true
    path: "/payment/actuator/health"
    periodSeconds: 10
    startupProbe:
      failureThreshold: 60
      periodSeconds: 10
  blueGreen:
    autoPromotionEnabled: true
    autoPromotionSeconds: 30
    scaleDownDelaySeconds: 30
