# Trade Service - Dev Environment
appName: trade-service
replicaCount: 1

image:
  repository: 632941626317.dkr.ecr.ap-northeast-2.amazonaws.com/unbox-dev-trade-repo
  tag: dev-1f23f3c7490d4e4f5ddc0ecd846ba156c3a6309e
  pullPolicy: Always

targetGroupArn: "arn:aws:elasticloadbalancing:ap-northeast-2:632941626317:targetgroup/trade-20260205233012449100000010/b1388ca53c518aab"

linkerd:
  enabled: false

service:
  port: 80
  targetPort: 8083

containerPort: 8083

env:
  SERVER_PORT: "8083"
  SERVER_SERVLET_CONTEXT_PATH: "/trade"
  
  SPRING_JWT_SECRET:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: JWT_SECRET
  
  DB_DRIVER_CLASS_NAME: "org.postgresql.Driver"
  SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
  SPRING_JPA_SHOW_SQL: "false"
  SPRING_DATASOURCE_URL:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: RDS_ENDPOINT
  SPRING_DATASOURCE_USERNAME: "unbox_admin"
  SPRING_DATASOURCE_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: DB_PASSWORD
  
  SPRING_DATA_REDIS_HOST:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: REDIS_ENDPOINT
  SPRING_DATA_REDIS_PORT: "6379"
  SPRING_DATA_REDIS_SSL: "true"
  SPRING_DATA_REDIS_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: REDIS_PASSWORD
  
  SPRING_KAFKA_BOOTSTRAP_SERVERS:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: KAFKA_ENDPOINT
  MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: ""

resources:
  requests:
    memory: "512Mi"
    cpu: "100m"
  limits:
    memory: "1Gi"

rollout:
  enabled: true
  strategy: "canary"
  
  healthCheck:
    enabled: true
    path: "/trade/actuator/health"
    periodSeconds: 10
    startupProbe:
      failureThreshold: 60
      periodSeconds: 10
  
  canary:
    steps:
    - setWeight: 10
    - pause: {duration: 120s}
    - setWeight: 25
    - pause: {duration: 120s}
    - setWeight: 50
    - pause: {duration: 120s}
    - setWeight: 75
    - pause: {duration: 120s}
    maxSurge: "25%"
    maxUnavailable: 0
  
  analysis:
    enabled: false
    interval: "30s"
    successRate: 95
    errorRate: 5
    avgResponseTime: 1000
    failureLimit: 3
    startingStep: 1
    queryRange: "5m"
    prometheusAddress: "http://prometheus.unbox-infra.svc.cluster.local:9090"
