# k8s/infra/monitoring/loki/values.yaml


deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: 'filesystem'
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
  
singleBinary:
  replicas: 1
  persistence:
    enabled: false # Use emptyDir for Dev lightness
  
  # Mount /var/loki as emptyDir to allow writing
  extraVolumes:
    - name: storage
      emptyDir: {}
  extraVolumeMounts:
    - name: storage
      mountPath: /var/loki
  
  # Fix for read-only filesystem error
  podSecurityContext:
    fsGroup: 10001
    runAsGroup: 10001
    runAsNonRoot: true
    runAsUser: 10001
  containerSecurityContext:
    readOnlyRootFilesystem: false


# Disable Simple Scalable mode components
read:
  replicas: 0
write:
  replicas: 0
backend:
  replicas: 0

# Disable caches and canary for lightweight dev setup
chunksCache:
  enabled: false
resultsCache:
  enabled: false
lokiCanary:
  enabled: false
gateway:
  enabled: false 

test:
  enabled: false

monitoring:
  lokiCanary:
    enabled: false
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
 


promtail:
  enabled: false
FLUENT_BIT_ENABLED: true
