apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  ports:
    - port: 9092
      targetPort: 9092
      name: client
  selector:
    app: kafka
  clusterIP: None # Headless Service (StatefulSet에는 이게 좋음)