# User Service - Prod 환경 오버라이드
replicaCount: 2

image:
  repository: 632941626317.dkr.ecr.ap-northeast-2.amazonaws.com/unbox-dev-user-repo
  tag: dev-6be5d6efb9ad18aa641541f99cdeead1c396e894

# 프로덕션에서는 Linkerd 활성화
linkerd:
  enabled: false

# Prod 환경에서 Rollout 활성화
rollout:
  enabled: true
  blueGreen:
    autoPromotionEnabled: false  # Prod에서는 수동 승인
    autoPromotionSeconds: 600    # 10분 후 자동 전환 (수동 승인 없을 시)
    scaleDownDelaySeconds: 300   # 5분 후 이전 버전 삭제

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "500m"

# Multi-AZ Pod 분산 설정
affinity:
  enabled: true

env:
  SPRING_JWT_SECRET:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: JWT_SECRET
  SPRING_JPA_HIBERNATE_DDL_AUTO: "validate"  # 프로덕션에서는 validate만
  
  # Prod RDS
  DB_URL:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: USER_RDS_ENDPOINT
  DB_DRIVER_CLASS_NAME: "org.postgresql.Driver"        
  DB_USERNAME: "unbox_admin"
  DB_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: USER_DB_PASSWORD
  
  # Prod Kafka
  SPRING_KAFKA_BOOTSTRAP_SERVERS: "prod-kafka.unbox-infra.svc.cluster.local:9092"
  
  # Prod Redis
  SPRING_DATA_REDIS_HOST: "master.unbox-prod-redis.endpoint.apn2.cache.amazonaws.com"
  
  # Prod Zipkin
  MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: "http://zipkin.unbox-infra.svc.cluster.local:9411/api/v2/spans"