# 1. 앱 기본 정보
appName: user-service
contextPath: /user
replicaCount: 1
image:
  repository: 632941626317.dkr.ecr.ap-northeast-2.amazonaws.com/unbox-dev-user-repo
  tag: latest
  pullPolicy: Always

targetGroupArn: "arn:aws:elasticloadbalancing:ap-northeast-2:632941626317:targetgroup/user-20260209233604385500000006/5719291e8db7cf21"

# 2. 로컬이니까 Linkerd 끄기 (테스트할 때만 true)
linkerd:
  enabled: true
service:
  port: 80
  targetPort: 8081

containerPort: 8081

env:
  SERVER_PORT: "8081"
  SERVER_SERVLET_CONTEXT_PATH: "/user"
  SPRING_JWT_SECRET:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: JWT_SECRET
  DB_DRIVER_CLASS_NAME: "org.postgresql.Driver"
  # DB 연결 (아까 설치한 postgres 서비스명 사용)
  SPRING_DATASOURCE_URL: "jdbc:postgresql://unbox-dev-common-db.crmw2cqokxc4.ap-northeast-2.rds.amazonaws.com:5432/dev_db"
  SPRING_DATASOURCE_USERNAME: "unbox_admin"
  SPRING_DATASOURCE_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: DB_PASSWORD
  SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
  
  # (참고) SQL 쿼리 나가는 거 보고 싶으면 이것도 추가
  SPRING_JPA_SHOW_SQL: "true"
  # Kafka 연결 (아까 설치한 kafka 서비스명 사용)
  SPRING_KAFKA_BOOTSTRAP_SERVERS: "kafka.unbox-infra.svc.cluster.local:9092"
  
  # Redis 연결 (아까 설치한 redis 서비스명 사용)
  SPRING_DATA_REDIS_HOST: "master.unbox-dev-redis.r0vran.apn2.cache.amazonaws.com"
  SPRING_DATA_REDIS_PORT: "6379"
  SPRING_DATA_REDIS_SSL: "true"
  SPRING_DATA_REDIS_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: db-secret
        key: REDIS_PASSWORD
  
  # Zipkin 연결
  MANAGEMENT_ZIPKIN_TRACING_ENDPOINT: "http://zipkin.unbox-infra.svc.cluster.local:9411/api/v2/spans"
  TEMPO_OTLP_ENDPOINT: "http://tempo.monitoring.svc.cluster.local:4318/v1/traces"