apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: karpenter-provisioner-prod
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/team4-coding-gamja/UNBOX-INFRA.git
    targetRevision: HEAD
    path: gitops/infra/karpenter
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: karpenter
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
