apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kafka-dev
  namespace: argocd
  labels:
    type: infrastructure
    component: message-queue
    env: dev
  annotations:
    argocd.argoproj.io/sync-wave: "4"  # PostgreSQL, Redis 다음에 배포
spec:
  project: default
  source:
    repoURL: https://github.com/team4-coding-gamja/UNBOX-INFRA.git
    targetRevision: feat/ArgoCD-dev
    path: gitops/infra/kafka
    helm:
      releaseName: kafka
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: unbox-infra
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
