apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-gateway-prod
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/team4-coding-gamja/UNBOX-INFRA.git
    targetRevision: HEAD # Using HEAD for Prod as standard practice
    path: gitops/infra/ingress-gateway
    helm:
      valueFiles:
        - values.yaml
        - values-prod.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: unbox-app # Ensure namespace exists or use syncOption CreateNamespace
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
