apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack-dev
  namespace: argocd
  labels:
    component: monitoring
    env: dev
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: default
  sources:
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 61.3.1
      helm:
        releaseName: kube-prometheus-stack
        valueFiles:
          - $values/gitops/infra/monitoring/kube-prometheus-stack/values.yaml
    - repoURL: https://github.com/team4-coding-gamja/UNBOX-INFRA.git
      targetRevision: feat/ArgoCD-dev
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  revisionHistoryLimit: 3
