apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-lua-scripts
  namespace: monitoring
data:
  job_label.lua: |
    function set_custom_job(tag, timestamp, record)
        local app_name = ""
        local namespace = ""
        local pod = ""
        local container = ""
        
        if record["kubernetes"] then
            if record["kubernetes"]["namespace_name"] then
                namespace = record["kubernetes"]["namespace_name"]
            end
            if record["kubernetes"]["pod_name"] then
                pod = record["kubernetes"]["pod_name"]
            end
            if record["kubernetes"]["container_name"] then
                container = record["kubernetes"]["container_name"]
            end
            if record["kubernetes"]["labels"] and record["kubernetes"]["labels"]["app"] then
                app_name = record["kubernetes"]["labels"]["app"]
            end
        end

        if app_name == "" then
           app_name = "unknown"
        end

        record["custom_job"] = "unbox-" .. app_name
        record["custom_app"] = app_name
        record["custom_namespace"] = namespace
        record["custom_pod"] = pod
        record["custom_container"] = container
        
        return 1, timestamp, record
    end
