apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: tempo-dev
  namespace: argocd
  labels:
    component: monitoring
    env: dev
spec:
  project: default
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: tempo
    targetRevision: 1.10.3
    helm:
      releaseName: tempo
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  revisionHistoryLimit: 3
