apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.appName }}
  labels:
    app: {{ .Values.appName }}
spec:
  type: ClusterIP
  ports:
    - name: http         # ServiceMonitor가 이 이름으로 포트를 찾음
      port: 80           # 내부 통신은 무조건 80번 포트
      targetPort: {{ .Values.containerPort | default 8080 }}   # 스프링부트는 8080
  selector:
    app: {{ .Values.appName }}